<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flashsale.orderservice.mapper.NormalProductMapper">

    <select id="listByIds" resultType="com.flashsale.orderservice.domain.po.NormalProductPO">
        SELECT
            id,
            name,
            subtitle,
            category_id,
            price,
            market_price,
            stock,
            status,
            main_image,
            detail,
            create_time,
            update_time
        FROM product
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <update id="decreaseStock">
        UPDATE product
        SET stock = stock - #{quantity}
        WHERE id = #{productId}
          AND status = 1
          AND stock >= #{quantity}
    </update>
</mapper>
